@import "./fonts.css";

/*All sections included */
.main {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 75vw;
  padding: 1.5em;
  background-color: #1d1e20;
  color: #fff;
}

.main__section {
  color: #fff;
  padding: 1.5rem;
}

.main__section--contact {
  color: #fff;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 150px 150px;
}
