/* change default*/
@import "Skeleton/normalize.css";
@import "Skeleton/skeleton.css";

/*On every site*/
@import "basic_style.css";
@import "nav_style.css";
@import "footer_style.css";
@import "article_style.css";
@import "section_style.css";

/*on Form site*/
@import "form_style.css";

.profile_img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50vw !important;
}

.GitHub {
  display: flex;
  border: 1px solid;
  flex-direction: column;
}
