@import url(Skeleton/normalize.css);
@import url(Skeleton/skeleton.css);
@import "basic_style.css";
@import "nav_style.css";
@import "footer_style.css";

.profile_img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50vw !important;
}

article a:link {
  text-decoration: none;
}

.GitHub {
  display: flex;
  border: 1px solid;
  flex-direction: column;
}
